@model IEnumerable<DATN_BUIVANCHIEN.Models.CHITIETDONTHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<a href="@Url.Action("Index", "Admin")" style="font:30px">Về trang trủ</a>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DIENTHOAI.TenDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONDATHANG.MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DIENTHOAI.TenDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONDATHANG.MaDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaDonHang }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaDonHang }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaDonHang })
        </td>
    </tr>
}

</table>
