

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style type="text/css">


 

    #qldh {
        float: left;
    }

  

    #qldt {
        float: left;
    }

    #qlhdh {
        float: left;
    }



    #qlkh {
        float: left;
    }

   

    #qlnxb {
        float: left;
    }

  

    #trang {
        width: 15px;
        float: left
    }
</style>


<div id="trang">&nbsp;</div>
<div id="qldh">
    <a href="@Url.Action("Index","DONDATHANGs")">
        <h2>Quản Lý Đơn Hàng</h2>
        <img src="~/wwwroot/images/qldh.png" width="150px" height="150px" id="anhdh" />
    </a>
</div>
<div id="trang">&nbsp;</div>
<div id="qldt">

    <a href="@Url.Action("Index","DIENTHOAIs")">
        <h2>Quản Lý điện thoại</h2>
        <img src="~/wwwroot/images/qldt.png" width="150px" height="150px" id="anhdt" />
    </a>
</div>
<div id="trang">&nbsp;</div>
<div id="qlnxb">

    <a href="@Url.Action("Index","NHAXUATBANs")">
        <h2>Quản Lý Nhãn hàng</h2>
        <img src="~/wwwroot/images/Branh.png" width="150px" height="150px" id="anhnxb" />

    </a>
</div>
<div id="trang">&nbsp;</div>
<div id="qlhdh">

    <a href="@Url.Action("Index","HDHs")">
        <h2>Cập nhập hệ điều hành mới</h2>
        <img src="~/wwwroot/images/os.png" width="150px" height="150px" id="anhhdh" />

    </a>
</div>
<div id="trang">&nbsp;</div>
<div id="qlkh">

    <a href="@Url.Action("Index","KHACHHANGs")">
        <h2>Quản Lý Tài Khoản Khách Hàng</h2>
        <img src="~/wwwroot/images/user.png" width="150px" height="150px" id="anhkh" />

    </a>

</div>
<div id="trang">&nbsp;</div>
<div id="qlkh">

    <a href="@Url.Action("Index","Admins")">
        <h2>Quản Lý Tài Khoản ADMIN</h2>
        <img src="~/wwwroot/images/user.png" width="150px" height="150px" id="anhkh" />

    </a>

</div>
<div id="trang">&nbsp;</div>
